<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/alojamientoElegido.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../public/images/icons/w.svg" />

    <title>Resultados Búsquedas</title>
</head>
<body>
    
    <!-- HEADER -->
    <header>
        <nav class="nav bg-p-oscuro">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div> 

            <!-- <div class="nav-button">
                <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                <button class="f-tm btt-2">Registrate</button>
            </div> -->
        </nav>
    </header>

    <!-- MAIN -->
    <main>

        <!-- SEARCH -->
        <section class="search">
            <div class="container-search bg-p-claro br-8">
                <p class="title-form f-tm">Elige la fecha que desearías reservar un alojamiento para tu mascota.</p>
                <div class="container-form br-8">
                    <form action="">
                        <div class="row">
                            <div class="col-25">
                                <label class="f-bm c-texto-gris" for="fname" placeholder=" " >Fecha de ingreso</label>
                            </div>
                            <div class="col-75">
                                <input type="date" id="" name="" class="br-8 bg-blanco-1">
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-25">
                                <label class="f-bm c-texto-gris" for="lname">Fecha de salida</label>
                            </div>
                            <div class="col-75">
                                <input type="date" id="" name="" class="br-8 bg-blanco-1">
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-25">
                                <label class="f-bm c-texto-gris" for="">Ubicación</label>
                            </div>
                            <div class="col-75">
                                <select id="" name="" class="br-8 bg-blanco-1">
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-25">
                                <label class="f-bm c-texto-gris" for="">Tipo de mascota</label>
                            </div>
                            <div class="col-75">
                                <select id="" name="" class="br-8 bg-blanco-1">
                                    <option value=""></option>
                                    <option value="">Perro</option>
                                    <option value="">Gato</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-25">
                                <label class="f-bm c-texto-gris" for="">Cantidad</label>
                            </div>
                            <div class="col-75">
                                <select id="" name="" class="br-8 bg-blanco-1">
                                    <option value=""></option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div >
                                <input class="col-75 btt-1" type="submit" value="Enviar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- ALOJAMIENTO -->
        <section class="alojamiento">
            <h3 class="f-dsb c-texto">Alojamiento</h3>
            <!-- CONTENEDOR -->
            <div class="contenedor">
                <!-- IMAGENES Y MAPA-->
                <div class="imagenes bg-blanco-1 br-8">
                    <div class="seccionImagenes br-8 bg-blanco-1">
                        <div class="imgPrincipal br-8">
                            <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_A_usuario_1.jpg" alt="">
                        </div>
                        <div class="imgSecundarias">
                            <div class="img br-8">
                                <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_B_usuario_1.jpg" alt="">
                            </div>
                            <div class="img br-8">
                                <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_C_usuario_1.jpg" alt="">
                            </div>
                            <div class="img br-8">
                                <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_D_usuario_1.jpg" alt="">
                            </div>
                            <div class="img br-8">
                                <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_E_usuario_1.jpg" alt="">
                            </div>
                            <div class="img br-8">
                                <img class="br-8" src="../public/images/usuarios/usuario-1/casa_usuario_1/casa_F_usuario_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="ubicacion">
                        <h4 class="f-hsb c-texto">Ubicación</h4>
                        <!-- MAPA -->
                    </div>
                </div>

                <div class="informacion br-8 bg-blanco-1">

                    <div class="iconosCard">
                        <div class="iconText">
                            <img src="../public/images/icons/perro-verde.svg" alt="">
                            <p class="f-bm c-primario">1 Perro</p>
                        </div>
                        <div class="iconText">
                            <img src="../public/images/icons/casa-verde.svg" alt="">
                            <p class="f-bm c-primario">Casa</p>
                        </div>
                        <div class="iconText">
                            <img src="../public/images/icons/jardin-verde.svg" alt="">
                            <p class="f-bm c-primario">1 Jardin</p>
                        </div>
                        <div class="iconText">
                            <img src="../public/images/icons/cerco-verde.svg" alt="">
                            <p class="f-bm c-primario">Cercado</p>
                        </div>
                        <div class="iconText">
                            <img src="../public/images/icons/plaza-cerca-verde.svg" alt="">
                            <p class="f-bm c-primario">Parque cerca</p>
                        </div>
                    </div>

                    <div class="descripcion">
                        <h4 class="f-hsb c-texto">Descripción</h4>
                        <p class="f-bl c-texto-gris">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                    </div>

                    <div class="condiciones">
                        <h4 class="f-hsb c-texto">Condiciones</h4>
                        <p class="f-bl c-texto-gris">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                    </div>

                    <div class="precio">
                        <p class="f-tlr"><span class="f-hmb">$ 50.000</span>  AR/noche</p>
                        <button class="btt-1">Contacta al anfitrión</button>
                    </div>
                    
                    <div>
                        <p class="f-bm c-texto-gris">*Para contactarte con un anfitrión, debes registrarte e iniciar sesión.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- PERFIL DE ANFITRIÓN -->
        <section class="perfil">
            <h3 class="f-dsb c-texto">Perfil de anfitrión</h3>
            <section class="sectionMiPerfil"  id="sectionMiPerfil">
                <!--SECTION 1 DATOS PERSONALES-->
                <section class="miPerfil br-8 bg-blanco-1">
                    <img  class="miPerfil__foto" src="/src/public/images/usuarios/usuario-1/perfil_usuario_1.jpg">
                    <div class="section-group">
                        <h3 class=" f-hsb c-texto"> Gabriela Hernández</h3>
                        <p class="f-tlr c-texto-gris">Bs. As, Argentina</p>
                    </div>
                    <div class="section-group">
                        <div class="section-group__dato">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                <path d="M7.71778 10.9244C8.99778 13.44 11.06 15.4933 13.5756 16.7822L15.5311 14.8267C15.7711 14.5867 16.1267 14.5067 16.4378 14.6133C17.4333 14.9422 18.5089 15.12 19.6111 15.12C20.1 15.12 20.5 15.52 20.5 16.0089V19.1111C20.5 19.6 20.1 20 19.6111 20C11.2644 20 4.5 13.2356 4.5 4.88889C4.5 4.4 4.9 4 5.38889 4H8.5C8.98889 4 9.38889 4.4 9.38889 4.88889C9.38889 6 9.56667 7.06667 9.89556 8.06222C9.99333 8.37333 9.92222 8.72 9.67333 8.96889L7.71778 10.9244Z" fill="#1D2621"/>
                                </svg>
                            <p class="f-tlr c-texto-gris">369 258 147</p>
                        </div>
                        <div class="section-group__dato">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                <path d="M22.5 6C22.5 4.9 21.6 4 20.5 4H4.5C3.4 4 2.5 4.9 2.5 6V18C2.5 19.1 3.4 20 4.5 20H20.5C21.6 20 22.5 19.1 22.5 18V6ZM20.5 6L12.5 11L4.5 6H20.5ZM20.5 18H4.5V8L12.5 13L20.5 8V18Z" fill="#1D2621"/>
                                </svg>
                            <p class="f-tlr c-texto-gris">nombre@email.com</p>
                       </div>
                    </div>
                    <button class="btt-2">Editar mi perfil</button>
                </section>
                <!--SECTION DETALLE MI  PERFIL-->
                <section class="sectionMiPerfil__detalle br-8 ">
                    <section  class="sectionMiPerfil__descripcion bg-blanco-1 br-8">
                        <p class="sectionMiPerfil__parrafo  f-bl c-texto-gris">Lorem ipsum dolor sit amet, consectetur 
                            adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis
                            mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, 
                            nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci 
                            luctus et ultrices posuere cubilia Curae.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus,
                            leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula
                            leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </section>

                    <section class="sectionMiPerfil__mascota bg-blanco-1 br-8">
                        <section class="mascota__card ">
                                <img class="mascota__avatar" src="/src/public/images/usuarios/usuario-1/perfil_mascota_1.jpg"  alt="imagen del perl de la mascota">
                                <div class="mascota__detalle">
                                    <h4 class="f-hsb c-texto">Nombre</h4>
                                    <section class="mascota__dato">
                                        <h4 class="f-bmb c-texto-gris">Raza:</h4>
                                        <p  class="f-bm c-texto-gris " id="mastotaDatoRaza">Golden</p>
                                    </section>
                                    <section class="mascota__dato">
                                        <h4 class="f-bmb c-texto-gris">Edad:</h4>
                                        <p  class="f-bm c-texto-gris " id="mastotaDatoEdad">8 años</p>
                                    </section>
                                    <section class="mascota__dato">
                                        <h4  class="f-bmb c-texto-gris">Sexo:</h4>
                                        <p  class="f-bm c-texto-gris " id="mastotaDatoSexo">Macho</p>
                                    </section>
                                </div>
                        </section>
                        <section class="mascota__cardDetalle">
                            <div class="f-bl c-texto-gris"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus,
                                leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula
                                leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus
                                ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum 
                                justo tincidunt ac. 
                                acilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo
                                tincidunt ac.
                            </div>
                            <div class="f-bl c-texto-gris"> <strong class="f-blb c-texto-gris">Condiciones de salud:</strong> Castrado, cadera débil</div>
                            <div class="f-bl c-texto-gris"> <strong class="f-blb c-texto-gris">Alergias:</strong>Plumas, leche</div>
                        </section>
                    </section>
                    
                </section>
            </section>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="bg-p-oscuro">
        <h3 class="f-dsb c-secundario">Contacto</h3>
        
        <section class="footer c-blanco-2">
            <div class="footer-info">
                <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                <div class="footer-redes">
                    <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                </div>
                <ul class="footer-contacto ">
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/telefono.svg" alt="">
                        123 456 789
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/sobre.svg" alt="">
                        wasi@info.com
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/mundo.svg" alt="">
                        Dirección 123 - Argentina
                    </li>
                </ul>
            </div>
            <div class="footer-form c-blanco-1">
                <form action="">
                    <label class="f-bm" for="">E-mail</label>
                    <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">
    
                    <label class="f-bm" for="">Tu consulta</label>
                    <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>
                
                    <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </footer>
</body>
</html>