<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/misChats.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../public/images/icons/w.svg" />

    <title>Mis chats</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav class="nav bg-p-oscuro">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div>

            <!-- <div class="nav-button">
                <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                <button class="f-tm btt-2">Registrate</button>
            </div> -->
        </nav>
    </header>

    <!-- MAIN -->
    <main>
        <section class="misChats">
            <h3 class="f-dsb c-texto">Mis chats</h3>

            <div class="contenedorMisChats bg-blanco-1">
                <div class="contenedor">

                    <!-- CHAT IZQUIERDA -->
                    <div class="usuarioChat br-8 bg-fondo">

                        <div class="usuario">
                            <div class="img">
                                <img src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                            </div>
                            <p class="f-hsb c-texto">María Gómez</p>
                        </div>

                        <div class="buscadorChat">
                            <div class="contenedorChat">
                                <p class="f-hsr c-texto">Mensajes</p>
                                <div class="buscador br-8 bg-blanco-1">
                                    <img src="../public/images/icons/lupa.svg" alt="">
                                    <input type="text" name="" id="" placeholder="Buscar chats" class="f-bl c-texto" >
                                </div>
                            </div>
                        <!--<div class="chats">
                                 chat 1 
                                <div class="cardChat br-8 bg-p-claro">
                                    <img class="img" src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre f-tlb c-texto">Martina López</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">2m</p>
                                            <img src="../public/images/icons/check.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                              chat 2 
                                <div class="cardChat br-8 bg-blanco-1">
                                    <img class="img" src="../public/images/usuarios/usuario-3/perfil_usuario_3.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre  f-tlb c-texto">Juan Pérez</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">5m</p>
                                            <img src="../public/images/home-cards/Number1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                              chat3
                                <div class="cardChat br-8 bg-blanco-1">
                                    <img class="img" src="../public/images/usuarios/usuario-4/perfil_usuario_4.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre f-tlb c-texto">Sofía Rodríguez</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">1h</p>
                                            <img src="../public/images/icons/check-claro.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                chat 4 
                                <div class="cardChat br-8 bg-blanco-1">
                                    <img class="img" src="../public/images/usuarios/usuario-5/perfil_usuario_5.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre f-tlb c-texto">Pablo Martínez</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">3h</p>
                                            <img src=" " alt="">
                                        </div>
                                    </div>
                                </div>
                                chat 5
                                <div class="cardChat br-8 bg-blanco-1">
                                    <img class="img" src="../public/images/usuarios/usuario-6/perfil_usuario_6.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre f-tlb c-texto">Mariana González</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">1d</p>
                                            <img src="../public/images/icons/check.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                 chat 6 
                                <div class="cardChat br-8 bg-blanco-1">
                                    <img class="img" src="../public/images/usuarios/usuario-7/perfil_usuario_7.jpg" alt="">
                                    <div class="cardBody">
                                        <div class="contenedorTexto">
                                            <p class="nombre f-tlb c-texto">Andrés Fernández</p>
                                            <p class="mensaje f-ll c-texto-gris">
                                                Lorem ipsum dolor sit amet, consectetur.
                                            </p>
                                        </div>
                                        <div class="contenedorNumHora">
                                            <p class="hora f-ll c-texto">2d</p>
                                            <img src=" " alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        -->
                        </div>
                        <div class="contenedorVacio">
                            <p class="f-bl c-texto">
                                Aún no tenes conversaciones con anfitriones aquí.
                            </p>
                        </div>
                    </div>


                    <!-- CHAT DERECHA -->
                    <div class="contenedorChat2 br-8 bg-fondo ">
    
                        <div class="contenedorVacioDos">
                            <p class="f-bl c-texto">
                                Envia y recibí mensajes con los anfitriones para coordinar la estadía de tu mascota sin complicaciones.
                            </p>
                        </div>
                        <!-- <div class="encabezadoChat br-8 bg-primario">
                            <img src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                            <p class="f-hsb c-texto">Martina López</p>
                        </div>
                        <div class="fecha bg-fondo">
                            <p class="f-tlr c-texto bg-blanco-1 br-8">Hoy</p>
                        </div>
    
                        <div class="chatUsuarioAnfitrion bg-fondo">

                            <div class="chatUsuario">
                                <div class="textoChat">
                                    <div class="areaTexto">
                                        <p class="msj f-bl c-texto bg-p-claro br-8">Lorem ipsum dolor sit amet consectetur</p>
                                        <div class="supporting">
                                            <p class="f-bm c-texto-gris">13:15</p>
                                            <img src="../public/images/icons/check.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img class="icono" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="textoChat">
                                    <div class="areaTexto">
                                        <p class="msj f-bl c-texto bg-p-claro br-8">Lorem ipsum dolor sit amet consectetur. <br> Dolor mattis non pretium a quis proin in.</p>
                                        <div class="supporting">
                                            <p class="f-bm c-texto-gris">13:15</p>
                                            <img src="../public/images/icons/check.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="chatAnfitrion">
                                <div class="textoChat">
                                    <div class="img">
                                        <img class="icono" src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                                    </div>
                                    <div class="areaTexto">
                                        <p class="msj f-bl c-texto bg-blanco-1 br-8">Lorem ipsum dolor sit amet consectetur</p>
                                        <div class="supporting">
                                            <p class="f-bm c-texto-gris">13:15</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="textoChat">
                                    <div class="areaTexto">
                                        <p class="msj f-bl c-texto bg-blanco-1 br-8">
                                            Lorem ipsum dolor sit amet consectetur. Mus enim enim eget phasellus tellus tortor sed arcu mauris. Non tincidunt tristique nec ut tincidunt sagittis orci nunc.
                                        </p>
                                        <div class="supporting">
                                            <p class="f-bm c-texto-gris">13:15</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chatUsuario">
                                <div class="textoChat">
                                    <div class="areaTexto">
                                        <p class="msj f-bl c-texto bg-p-claro br-8">Lorem ipsum dolor sit amet consectetur</p>
                                        <div class="supporting">
                                            <p class="f-bm c-texto-gris">13:15</p>
                                            <img src="../public/images/icons/check.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="img">
                                        <img class="icono" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="contenedorAreaTextoChat bg-fondo">
                            <div class="areaTextoChat bg-blanco-1 br-8">
                                <img class="adjuntar" src="../public/images/icons/adjuntar.svg" alt="">
                                <input class="f-bl" type="text" name="" id="" placeholder="Escribe aqui tu mensaje">
                                <img class="emoji" src="../public/images/icons/emojis.svg" alt="">
                                <img class="enviar" src="../public/images/icons/enviar.svg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

        </section>
    </main>

    <!-- FOOTER -->
    <footer class="bg-p-oscuro">
        <h3 class="f-dsb c-blanco-1">Contacto</h3>

        <section class="footer c-blanco-2">
            <div class="footer-info">
                <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                <div class="footer-redes">
                    <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                </div>
                <ul class="footer-contacto ">
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/telefono.svg" alt="">
                        123 456 789
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/sobre.svg" alt="">
                        wasi@info.com
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/mundo.svg" alt="">
                        Dirección 123 - Argentina
                    </li>
                </ul>
            </div>
            <div class="footer-form c-blanco-1">
                <form action="">
                    <label class="f-bm" for="">E-mail</label>
                    <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">

                    <label class="f-bm" for="">Tu consulta</label>
                    <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>

                    <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </footer>

</body>
</html>