<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/general-style.css">
    <link rel="stylesheet" href="css/inicioDeSesion.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="images/icons/w.svg" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.min.css" rel="stylesheet">
    
    <title>Inicio de sesión</title>
</head>
<body>
    
    <!-- HEADER -->
    <%- include('partials/header.ejs'); -%>


    <!-- MAIN -->
    <main class="main">
        <section class="inicio bg-blanco-1 br-8">
            <div class="logo-titulo">
                <img src="images/logo-inicio-de-sesion.png" alt="">
                <p class="f-tlb">Deja que tu mascota se sienta como en casa mientras te vas de viaje.</p>
            </div>
            
            <div class="inicioDeSesion">
                <p class="f-tm">Iniciar sesión</p>
                <form action="/login" method="POST">
                    <label for="email" class="f-bm c-texto-gris">E-mail *</label>
                    <input type="text" id="email" name="email" class="br-8 bg-blanco-1" required>
                    <label for="password" class="f-bm c-texto-gris">Contraseña *</label>
                    <div class="inputPassword br-8">
                        <input type="password" id="password" name="password" class=" bg-blanco-1" required>
                        <img src="images/icons/ojo-cerrado.svg" alt="">
                    </div>
                    <a href="" class="f-bm c-texto-gris">Supporting text</a>
                    <div class="botones">
                        <button class="btt-2 f-tm">Regístrate</button>
                        <button class="btt-1 f-tm">Iniciar Sesión</button>
                    </div>
                </form>
            </div>

            <% if(typeof id !== 'undefined' ){ %>
            <p>Sesión iniciada</p>
            <script>
                Swal.fire({
                icon: "success", 
                title: 'Has iniciado sesión correctamente',
                footer: '<a href="/" style="text-decoration: none">Home</a>',
                showConfirmButton: false    
                })
              setTimeout(function () {
                window.location = '<%= ruta %>'
              }, 3000)
    
            </script>
            <% }else if(typeof msg !== 'undefined'){ %>
                <p><%= msg %></p>
            <% } %>

        </section>
        
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs'); -%>

    <!-- <script src="js/login.js"></script> -->
</body>
</html>