<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/miPerfil.css">
    <title>Mi Perfil</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="nav  bg-p-oscuro">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>
    
            <!-- ICÓNOS DE SESIÓN INICIADA -->
    
            <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div> 
    
            <!-- <div class="nav-button">
                <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                <button class="f-tm btt-2">Registrate</button>
            </div> -->
        </nav>
    </header>

    <!-- MAIN -->
    <main>
        <h3 class=" f-dsb c-texto">Mi perfil</h3>
        <section class="sectionMiPerfil"  id="sectionMiPerfil">
            <!--SECTION 1 DATOS PERSONALES-->
            <section class="miPerfil br-8 bg-blanco-1">
                <img  class="miPerfil__foto" src="/src/public/images/usuarios/usuario-1/perfil_usuario_1.jpg" class="avatar-label">
                <div class="section-group">
                    <h3 class=" f-hsb c-texto"> Gabriela Hernández</h3>
                    <p>Bs. As, Argentina</p>
                </div>
                <div class="section-group">
                    <p>369 258 147</p>
                    <p>nombre@email.com</p>
                </div>
                <button class="btt-2">Editar mi perfil</button>
            </section>
            <!--SECTION DETALLE MI  PERFIL-->
            <section class="sectionMiPerfil__detalle br-8 ">
                <section  class="sectionMiPerfil__descripcion bg-blanco-1 br-8">
                    <p class="f-bl c-texto-gris">Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis
                        mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, 
                        nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci 
                        luctus et ultrices posuere cubilia Curae.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus,
                        leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula
                        leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </section>
                <section class="sectionMiPerfil__mascota bg-blanco-1 br-8">
                    <section class="mascota__card ">
                            <img class="mascota__avatar" src="/src/public/images/usuarios/usuario-1/perfil_mascota_1.jpg"  alt="imagen del perl de la mascota">
                            <div class="mascota__detalle">
                                <h3 class="f-hsb c-texto">Nombre</h3>
                                <section class="mascota__dato">
                                    <h3 class="f-bmb c-texto-gris">Raza:</h3>
                                    <p  class="f-bm c-texto-gris " id="mastotaDatoRaza">Golden</p>
                                </section>
                                <section class="mascota__dato">
                                    <h3 class="f-bmb c-texto-gris">Edad:</h3>
                                    <p  class="f-bm c-texto-gris " id="mastotaDatoEdad">8 años</p>
                                </section>
                                <section class="mascota__dato">
                                    <h3  class="f-bmb c-texto-gris">Sexo:</h3>
                                    <p  class="f-bm c-texto-gris " id="mastotaDatoSexo">Macho</p>
                                </section>
                            </div>
                    </section>
                    <section class="mascota__cardDetalle">
                        <p class="f-bl c-texto-gris"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus,
                            leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula
                            leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus
                            ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum 
                            justo tincidunt ac. 
                            acilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo
                            tincidunt ac.
                        </p>
                        <p class="f-bl c-texto-gris"> <strong class="f-blb c-texto-gris">Condiciones de salud:</strong> Castrado, cadera débil</p>
                        <p class="f-bl c-texto-gris"> <strong class="f-blb c-texto-gris">Alergias:</strong>Plumas, leche</p>
                    </section>
                   
                </section>
            </section>
            
        </section>

        <section class="sectionAnfitrion bg-secundario  br-8">
            <img  class="sectionAnfitrion__img" src="/src/public/images/usuarios/usuario-1/casa_usuario_1/casa_A_usuario_1.jpg" alt="foto de la casa de alojamiento">
            <div class="sectionAnfitrion__detalle">
                <h3 class="c-texto f-hsb">Se anfitrión</h3>
                <p class="f-bl c-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, 
                    leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus
                    ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum
                    justo tincidunt ac. Vestibulum ante ipsum primis in faucibus orci 
                    uctus et ultrices posuere cubilia Curae.</p>
                <button class="btt-1"> Publica tu alojamiento</button>
           </div>

        </section>
    </main>

        <!-- FOOTER -->
        <footer class="bg-p-oscuro">
            <h3 class="f-dsb c-blanco-1">Contacto</h3> 
            <section class="footer c-blanco-2">
                <div class="footer-info">
                    <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                    <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                    <div class="footer-redes">
                        <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                        <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                        <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                    </div>
                    <ul class="footer-contacto ">
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/telefono.svg" alt="">
                            123 456 789
                        </li>
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/sobre.svg" alt="">
                            wasi@info.com
                        </li>
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/mundo.svg" alt="">
                            Dirección 123 - Argentina
                        </li>
                    </ul>
                </div>
                <div class="footer-form c-blanco-1">
                    <form action="">
                        <label class="f-bm" for="">E-mail</label>
                        <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">
        
                        <label class="f-bm" for="">Tu consulta</label>
                        <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>
                    
                        <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                    </form>
                </div>
            </section>
    </footer>
</body>
</html>