<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/planesYPrecios.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../public/images/icons/w.svg" />
    
    <title>Planes y precios</title>
</head>
<body>
    <!-- HEADER -->
        <header>
            <nav class="nav">
                <div class="nav-bar c-fondo">
                    <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                    <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                    <a class="f-tm c-blanco-1" href="">Planes y precios</a>
                </div>
    
                 <!-- ICÓNOS DE SESIÓN INICIADA -->
    
                <div class="nav-icon">
                    <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                    <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                    <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
                </div> 
    
                <!-- <div class="nav-button">
                    <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                    <button class="f-tm btt-2">Registrate</button>
                </div> -->
            </nav>
        </header>

        <!-- MAIN -->
        <main>
            <section class="planes">
                <h3 class="f-dsb c-texto">Nuestros planes de suscripción</h3>

                <div class="tiposDePlanes">
                    <div class="plan bg-blanco-1 br-8">
                        <div class="arriba">
                            <h4 class="f-dsb c-texto">Clásico</h4>
                            <p class="f-blb c-primario">7 días gratis de prueba</p>
                            <p class="f-ll c-texto-gris">
                                Los usuarios tienen acceso a un perfil básico donde pueden agregar información sobre sus mascotas y preferencias de alojamiento.
                            </p>
                            <ul class="clasico f-ts c-primario">
                                <li>Publicación de alojamiento</li>
                                <li>Búsqueda Avanzada</li>
                                <li>Central de reservas</li>
                                <li>Mensajería con usuarios</li>
                            </ul>
                        </div>
                        <div class="abajo">
                            <p class="f-bl c-texto-gris"><span class="f-dsb c-texto">$8.000</span>AR/mes</p>
                            <button class="btt-1">Suscríbete</button>
                        </div>
                    </div>
                    <div class="plan bg-p-claro br-8">
                        <div class="arriba">
                            <h4 class="f-dsb c-texto">Premium</h4>
                            <p class="f-blb c-texto">30 días gratis de prueba</p>
                            <p class="f-ll c-texto-gris">
                                Los usuarios tienen acceso a un perfil premium donde pueden ser calificados y recomendados por los propios usuarios.
                            </p>
                            <ul class="premium f-ts c-texto-gris">
                                <li>Publicación de alojamiento</li>
                                <li>Búsqueda Avanzada</li>
                                <li>Central de reservas</li>
                                <li>Mensajería con usuarios</li>
                                <li>Reseñas por usuarios</li>
                                <li>Ser usuario recomendado</li>
                            </ul>
                        </div>
                        <div class="abajo">
                            <p class="mes f-bl c-texto-gris"><span class="f-dsb c-texto">$12.000</span>AR/mes</p>
                            <button class="btt-1">Suscríbete</button>
                        </div>
                    </div>
                </div>

                <div class="descripcion">
                    <p class="f-bl c-texto-gris">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, leo ac ultricies pulvinar, urna ipsum facilisis mi, sit amet dapibus ligula leo eget mauris. Quisque auctor ultricies augue, nec bibendum justo tincidunt ac. Vestibulum ante ipsum primis in faucibus.</p>
                </div>

            </section>
        </main>

        <!-- FOOTER -->
        <footer class="bg-p-oscuro">
                <h3 class="f-dsb c-blanco-1">Contacto</h3> 
                <section class="footer c-blanco-2">
                    <div class="footer-info">
                        <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                        <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                        <div class="footer-redes">
                            <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                            <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                            <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                        </div>
                        <ul class="footer-contacto ">
                            <li class="f-bl">
                                <img src="../public/images/icons/footer/telefono.svg" alt="">
                                123 456 789
                            </li>
                            <li class="f-bl">
                                <img src="../public/images/icons/footer/sobre.svg" alt="">
                                wasi@info.com
                            </li>
                            <li class="f-bl">
                                <img src="../public/images/icons/footer/mundo.svg" alt="">
                                Dirección 123 - Argentina
                            </li>
                        </ul>
                    </div>
                    <div class="footer-form c-blanco-1">
                        <form action="">
                            <label class="f-bm" for="">E-mail</label>
                            <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">
            
                            <label class="f-bm" for="">Tu consulta</label>
                            <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>
                        
                            <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                        </form>
                    </div>
                </section>
        </footer>
</body>
</html>