<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/quienesSomos.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../public/images/icons/w.svg" />
    
    <title>Quiénes somos</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="nav  bg-p-oscuro">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>
    
            <!-- ICÓNOS DE SESIÓN INICIADA -->
    
            <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div> 
    
            <!-- <div class="nav-button">
                <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                <button class="f-tm btt-2">Registrate</button>
            </div> -->
        </nav>
    </header>

    <!-- MAIN -->
    <main>
        <section class="quienesSomos">
            <h3 class="f-dsb c-texto">Quiénes Somos</h3>
            <p class="texto f-bl c-texto-gris">
                Somos un equipo de profesionales del mundo IT que nos enfocamos día a día a lograr una aplicación WEB que conecte dueños de mascotas dispuestos a brindar alojamiento temporal, permitiendo que gatos o perros se queden en hogares familiares recomendados y calificados por los propios usuarios, donde recibirán atención personalizada y estarán rodeados de personas. Este enfoque proporciona un valor diferencial al producto al priorizar el bienestar y la comodidad de las mascotas durante la ausencia de sus dueños.
            </p>
            <div class="cards">
                <div class="card">
                    <img src="../public/images/quienes-somos/carolina.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">Carolina Aguirre</h5>
                        <p class="f-tm c-texto">Desarrollo Front-end</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/quienes-somos/melania.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">Melania Palomino</h5>
                        <p class="f-tm c-texto">Desarrollo Front-end</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/quienes-somos/maria.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">María de los Ángeles Roldán</h5>
                        <p class="f-tm c-texto">Desarrollo Front-end</p>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="../public/images/quienes-somos/leandro.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">Leandro Andreani</h5>
                        <p class="f-tm c-texto">Desarrollo Back-end</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/quienes-somos/natalia.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">Natalia Caniza Toral</h5>
                        <p class="f-tm c-texto">Diseño UX/UI</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/quienes-somos/ximena.png" alt="">
                    <div class="info">
                        <h5 class="f-hsm c-primario">Ximena Ellis</h5>
                        <p class="f-tm c-texto">Diseño UX/UI</p>
                    </div>
                </div>
            </div>

        </section>
    </main>

        <!-- FOOTER -->
        <footer class="bg-p-oscuro">
            <h3 class="f-dsb c-blanco-1">Contacto</h3> 
            <section class="footer c-blanco-2">
                <div class="footer-info">
                    <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                    <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                    <div class="footer-redes">
                        <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                        <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                        <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                    </div>
                    <ul class="footer-contacto ">
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/telefono.svg" alt="">
                            123 456 789
                        </li>
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/sobre.svg" alt="">
                            wasi@info.com
                        </li>
                        <li class="f-bl">
                            <img src="../public/images/icons/footer/mundo.svg" alt="">
                            Dirección 123 - Argentina
                        </li>
                    </ul>
                </div>
                <div class="footer-form c-blanco-1">
                    <form action="">
                        <label class="f-bm" for="">E-mail</label>
                        <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">
        
                        <label class="f-bm" for="">Tu consulta</label>
                        <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>
                    
                        <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                    </form>
                </div>
            </section>
    </footer>
</body>
</html>