<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <link rel="stylesheet" href="../public/css/resultadosBusqueda.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../public/images/icons/w.svg" />
    
    <title>Resultados Búsquedas</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="nav bg-p-oscuro">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div> 

            <!-- <div class="nav-button">
                <button class="f-tm c-a-dark-mode">Inicia sesión</button>
                <button class="f-tm btt-2">Registrate</button>
            </div> -->
        </nav>
    </header>

    <main class="main">
        <!-- SEARCH -->
        <section class="containerSearch">
            <div class="search bg-p-claro br-8">
                <p class="title-form f-tm">Elige la fecha que desearías reservar un alojamiento para tu mascota.</p>
                <form class="form"  action="">
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="fname" placeholder=" " >Fecha de ingreso</label>
                        </div>
                        <div class="col-75">
                        <input type="date" id="" name="" class="br-8 bg-blanco-1">
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="lname">Fecha de salida</label>
                        </div>
                        <div class="col-75">
                            <input type="date" id="" name="" class="br-8 bg-blanco-1">
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Ubicación</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="select br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Tipo de mascota</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value="">Perro</option>
                                <option value="">Gato</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Cantidad</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div >
                            <input class="col-75 btt-1" type="submit" value="Buscar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    
        <!-- RECOMENDADOS PARA TI -->
    
        <section class="recomendadosParaTi bg-fondo">
            <h3 class="f-dsb c-texto">Resultados de tu búsqueda</h3>
            
            <!-- CONTENEDOR BUSCADOR Y CARDS -->
            <div class="buscadorPerfiles">
                <!-- BUSCADOR -->
                <aside class="buscador">
                    <div class="filtro bg-blanco-1 br-8">
                        <img src="../public/images/icons/filtros.svg" alt="">
                        <form action="" class="bg-blanco-1">
                            <select name="" id="" class="bg-blanco-1 f-bl c-texto" placeholder="Ordenar" >
                                <option value="">Ordenar</option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </form>
                    </div>
                    <div class="resultadosBusqueda">
                        <div class="resultados">
                            <h4 class=" f-hsb c-texto">Mascotas</h4>
    
                            <div class="itemsMascotas">
                                <p class="f-bl c-texto-gris">Perros (<span id="perro"></span>)</p>
                                <p class="f-bl c-texto-gris">Gatos (<span id="gato"></span>)</p>
                            </div>
                        </div>
                        <div class="resultados">
                            <h4 class=" f-hsb c-texto">Alojamiento</h4>
    
                            <div class="itemsAlojamientos">
                                <p class="f-bl c-texto-gris">Casa (<span id="casa"></span>)</p>
                                <p class="f-bl c-texto-gris">Departamento (<span id="departamento"></span>)</p>
                            </div>
                        </div>
                        <div class="resultados">
                            <h4 class=" f-hsb c-texto">Aire libre</h4>
    
                            <div class="itemsAireLibre">
                                <p class="f-bl c-texto-gris">Patio (<span id="patio"></span>)</p>
                                <p class="f-bl c-texto-gris">Jardin (<span id="jardin"></span>)</p>
                            </div>
                        </div>
                        <div class="resultados">
                            <h4 class=" f-hsb c-texto">Seguridad</h4>
    
                            <div class="itemsMascotas">
                                <p class="f-bl c-texto-gris">Cercado (<span id="cercado">4</span>)</p>
                            </div>
                        </div>
                    </div>
                </aside>
    
                <!-- CARDS -->
                <div id="cards" class="cards">
                    <!-- primera card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                        <div class="imgCard br-8">
                            <img src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                        </div>
                        <div class="cuerpoCard">
                            <div class="esp">
                                <div class="nombreCard">
                                    <div>
                                        <p class="f-hsb" >Nombre Anfitrión</p>
                                        <p class="f-bm">Texto Ubicación</p>
                                    </div>
                                    <div class="clasif">
                                        <img src="../public/images/icons/estrella.svg" alt="">
                                        <span class="f-bm">5.0</span>
                                    </div>
                                </div>
                                <div class="iconosCard">
                                    <div class="iconText">
                                        <img src="../public/images/icons/perro-verde.svg" alt="">
                                        <p class="f-bm c-primario">1 Perro</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/casa-verde.svg" alt="">
                                        <p class="f-bm c-primario">Casa</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/jardin-verde.svg" alt="">
                                        <p class="f-bm c-primario">1 Jardin</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/cerco-verde.svg" alt="">
                                        <p class="f-bm c-primario">Cercado</p>
                                    </div>
                                </div>
                                <p class="f-bm c-texto-gris" >
                                    Write an amazing description in this dedicated card section. Each word counts.
                                </p>
                            </div>
                            <div class="precioCard">
                                <div class="izq">
                                    <span class="f-tlb">$50.000</span>
                                    <p class="f-ll">AR/noche</p>
                                </div>
                                <div class="der">
                                    <button class="btt-1">Label</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- segunda card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                        <div class="imgCard">
                            <img src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                        </div>
                        <div class="cuerpoCard">
                            <div class="esp">
                                <div class="nombreCard">
                                    <div>
                                        <p class="f-hsb" >Nombre Anfitrión</p>
                                        <p class="f-bm">Texto Ubicación</p>
                                    </div>
                                    <div class="clasif">
                                        <img src="../public/images/icons/estrella.svg" alt="">
                                        <span class="f-bm">5.0</span>
                                    </div>
                                </div>
                                <div class="iconosCard">
                                    <div class="iconText">
                                        <img src="../public/images/icons/gato-verde.svg" alt="">
                                        <p class="f-bm c-primario">1 Gato</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/edificio-verde.svg" alt="">
                                        <p class="f-bm c-primario">Dpto</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/plaza-cerca-verde.svg" alt="">
                                        <p class="f-bm c-primario">Parque cerca</p>
                                    </div>
                                    <div class="iconText">
                                        <img src="../public/images/icons/cerco-verde.svg" alt="">
                                        <p class="f-bm c-primario">Cercado</p>
                                    </div>
                                </div>
                                <p class="f-bm c-texto-gris" >
                                    Write an amazing description in this dedicated card section. Each word counts.
                                </p>
                            </div>
                            <div class="precioCard">
                                <div>
                                    <span class="f-tlb">$50.000</span>
                                    <p class="f-ll">AR/noche</p>
                                </div>
                                <div>
                                    <button class="btt-1">Label</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                            <div class="imgCard br-8">
                                <img src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                            </div>
                            <div class="cuerpoCard">
                                <div class="esp">
                                    <div class="nombreCard">
                                        <div>
                                            <p class="f-hsb" >Nombre Anfitrión</p>
                                            <p class="f-bm">Texto Ubicación</p>
                                        </div>
                                        <div class="clasif">
                                            <img src="../public/images/icons/estrella.svg" alt="">
                                            <span class="f-bm">5.0</span>
                                        </div>
                                    </div>
                                    <div class="iconosCard">
                                        <div class="iconText">
                                            <img src="../public/images/icons/perro-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Perro</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/casa-verde.svg" alt="">
                                            <p class="f-bm c-primario">Casa</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/jardin-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Jardin</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/cerco-verde.svg" alt="">
                                            <p class="f-bm c-primario">Cercado</p>
                                        </div>
                                    </div>
                                    <p class="f-bm c-texto-gris" >
                                        Write an amazing description in this dedicated card section. Each word counts.
                                    </p>
                                </div>
                                <div class="precioCard">
                                    <div class="izq">
                                        <span class="f-tlb">$50.000</span>
                                        <p class="f-ll">AR/noche</p>
                                    </div>
                                    <div class="der">
                                        <button class="btt-1">Label</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 4 card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                            <div class="imgCard">
                                <img src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                            </div>
                            <div class="cuerpoCard">
                                <div class="esp">
                                    <div class="nombreCard">
                                        <div>
                                            <p class="f-hsb" >Nombre Anfitrión</p>
                                            <p class="f-bm">Texto Ubicación</p>
                                        </div>
                                        <div class="clasif">
                                            <img src="../public/images/icons/estrella.svg" alt="">
                                            <span class="f-bm">5.0</span>
                                        </div>
                                    </div>
                                    <div class="iconosCard">
                                        <div class="iconText">
                                            <img src="../public/images/icons/gato-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Gato</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/edificio-verde.svg" alt="">
                                            <p class="f-bm c-primario">Dpto</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/plaza-cerca-verde.svg" alt="">
                                            <p class="f-bm c-primario">Parque cerca</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/cerco-verde.svg" alt="">
                                            <p class="f-bm c-primario">Cercado</p>
                                        </div>
                                    </div>
                                    <p class="f-bm c-texto-gris" >
                                        Write an amazing description in this dedicated card section. Each word counts.
                                    </p>
                                </div>
                                <div class="precioCard">
                                    <div>
                                        <span class="f-tlb">$50.000</span>
                                        <p class="f-ll">AR/noche</p>
                                    </div>
                                    <div>
                                        <button class="btt-1">Label</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 5 card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                            <div class="imgCard br-8">
                                <img src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt="">
                            </div>
                            <div class="cuerpoCard">
                                <div class="esp">
                                    <div class="nombreCard">
                                        <div>
                                            <p class="f-hsb" >Nombre Anfitrión</p>
                                            <p class="f-bm">Texto Ubicación</p>
                                        </div>
                                        <div class="clasif">
                                            <img src="../public/images/icons/estrella.svg" alt="">
                                            <span class="f-bm">5.0</span>
                                        </div>
                                    </div>
                                    <div class="iconosCard">
                                        <div class="iconText">
                                            <img src="../public/images/icons/perro-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Perro</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/casa-verde.svg" alt="">
                                            <p class="f-bm c-primario">Casa</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/jardin-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Jardin</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/cerco-verde.svg" alt="">
                                            <p class="f-bm c-primario">Cercado</p>
                                        </div>
                                    </div>
                                    <p class="f-bm c-texto-gris" >
                                        Write an amazing description in this dedicated card section. Each word counts.
                                    </p>
                                </div>
                                <div class="precioCard">
                                    <div class="izq">
                                        <span class="f-tlb">$50.000</span>
                                        <p class="f-ll">AR/noche</p>
                                    </div>
                                    <div class="der">
                                        <button class="btt-1">Label</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 6 card -->
                    <div class="paraTiCard bg-blanco-1 br-8">
                            <div class="imgCard">
                                <img src="../public/images/usuarios/usuario-2/perfil_usuario_2.jpg" alt="">
                            </div>
                            <div class="cuerpoCard">
                                <div class="esp">
                                    <div class="nombreCard">
                                        <div>
                                            <p class="f-hsb" >Nombre Anfitrión</p>
                                            <p class="f-bm">Texto Ubicación</p>
                                        </div>
                                        <div class="clasif">
                                            <img src="../public/images/icons/estrella.svg" alt="">
                                            <span class="f-bm">5.0</span>
                                        </div>
                                    </div>
                                    <div class="iconosCard">
                                        <div class="iconText">
                                            <img src="../public/images/icons/gato-verde.svg" alt="">
                                            <p class="f-bm c-primario">1 Gato</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/edificio-verde.svg" alt="">
                                            <p class="f-bm c-primario">Dpto</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/plaza-cerca-verde.svg" alt="">
                                            <p class="f-bm c-primario">Parque cerca</p>
                                        </div>
                                        <div class="iconText">
                                            <img src="../public/images/icons/cerco-verde.svg" alt="">
                                            <p class="f-bm c-primario">Cercado</p>
                                        </div>
                                    </div>
                                    <p class="f-bm c-texto-gris" >
                                        Write an amazing description in this dedicated card section. Each word counts.
                                    </p>
                                </div>
                                <div class="precioCard">
                                    <div>
                                        <span class="f-tlb">$50.000</span>
                                        <p class="f-ll">AR/noche</p>
                                    </div>
                                    <div>
                                        <button class="btt-1">Label</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    
            <!-- PAGINACIÓN -->
            <div class="paginas">
                <div class="cargarMas">
                    <button class="btt-3">Cargar más...</button>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="bg-p-oscuro">
        <h3 class="f-dsb c-blanco-1">Contacto</h3>
        
        <section class="footer c-blanco-2">
            <div class="footer-info">
                <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                <div class="footer-redes">
                    <a href=""><img src="../public/images/icons/footer/facebook.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/twitter.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/footer/instagram.svg" alt=""></a>
                </div>
                <ul class="footer-contacto ">
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/telefono.svg" alt="">
                        123 456 789
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/sobre.svg" alt="">
                        wasi@info.com
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/footer/mundo.svg" alt="">
                        Dirección 123 - Argentina
                    </li>
                </ul>
            </div>
            <div class="footer-form c-blanco-1">
                <form action="">
                    <label class="f-bm" for="">E-mail</label>
                    <input class="footerEmail br-8 c-texto" type="email" placeholder="email@email.com">
    
                    <label class="f-bm" for="">Tu consulta</label>
                    <textarea class="br-8 c-texto" id="" cols="20" rows="10"></textarea>
                
                    <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </footer>
</body>
</html>