@import url(variables.css);

/* -------------------------------------------- */
/* COLORS */
/* -------------------------------------------- */
.c-primario   { color: var(--primario); } 
.c-p-claro    { color: var(--primario-claro); }
.c-p-oscuro-m { color: var(--primario-oscuro-medio); }
.c-p-oscuro   { color: var(--primario-oscuro); }
.c-oscuro80   { color: var(--primario-oscuro-al80); }

.c-secundario { color: var(--secundario)}

.c-acento     { color: var(--acento); }
.c-a-hover    { color: var(--acento-hover)}
.c-a-dark-mode{ color: var(--acento-dark-mode);}
.c-acento20   { color: var(--acento-al20); }

.c-texto      { color: var(--textos); }
.c-texto-gris { color: var(--textos-grises); }

.c-fondo      { color: var(--fondo);}
.c-blanco-1   { color: var(--blanco-1);}
.c-blanco-2   { color: var(--blanco-2);}

/* -------------------------------------------- */
/* BACKGROUND COLOR */
/* -------------------------------------------- */

.bg-primario   { background-color: var(--primario); }
.bg-p-claro    { background-color: var(--primario-claro); }
.bg-p-oscuro-m { background-color: var(--primario-oscuro-medio); }
.bg-p-oscuro   { background-color: var(--primario-oscuro); }
.bg-oscuro80   { background-color: var(--primario-oscuro-al80); }

.bg-secundario { background-color: var(--secundario)}

.bg-acento     { background-color: var(--acento); }
.bg-a-hover    { background-color: var(--acento-hover)}
.bg-a-dark-mode{ background-color: var(--acento-dark-mode);}
.bg-acento20   { background-color: var(--acento-al20); }

.bg-texto      { background-color: var(--textos); }
.bg-texto-gris { background-color: var(--textos-grises); }

.bg-fondo      { background-color: var(--fondo);}
.bg-blanco-1   { background-color: var(--blanco-1);}
.bg-blanco-2   { background-color: var(--blanco-2);}