@import url(colores.css);

/* -------------------------------------------- */
/* BOTTON STYLE */
/* -------------------------------------------- */

/* boton principal  */

.btt-1{
    color: var(--ocre-cero);
    background-color: var(--naranja);
    border-radius: 12px;
    padding: 4px;
    height: 48px;
    width: 164px;
}

/* boton secundario */

.btt-2{
    color: var(--naranja);
    background-color: none;
    border: 1px solid var(--naranja);
    border-radius: 12px;
    padding: 4px;
    height: 48px;
    width: 164px;
}