@import url(colores.css);
@import url(fuentes.css);
@import url(search.css);

/*
BORDER RADIUS
BOTTON STYLE
 -boton principal
 -boton secundario
GENERAL STYLE
HEADER
FOOTER
*/

/* -------------------------------------------- */
/* BORDER RADIUS */
/* -------------------------------------------- */

.br-8{
    border-radius: 8px;
}

/* -------------------------------------------- */
/* BOTTON STYLE */
/* -------------------------------------------- */
button{
    cursor: pointer;
}
/* boton principal  */

.btt-1{
    color: var(--blanco-1);
    background-color: var(--acento);
    border-radius: 8px;
    padding: 4px;
    height: 48px;
}

/* boton secundario */

.btt-2{
    color: var(--acento-dark-mode);
    background-color: none;
    border: 2px solid var(--acento-dark-mode);
    border-radius: 8px;
    padding: 4px;
    height: 48px;
}

/* boton terciario */
.btt-3{
    color: var(--acento);
    background-color: none;
    border: 2px solid var(--acento);
    border-radius: 8px;
    padding: 4px;
    height: 48px;
}

/* -------------------------------------------- */
/* GENERAL STYLE */
/* -------------------------------------------- */

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER  */

header{
    width: 100%;
    margin: 20px auto;
}
/* sin iniciar sesión */
header nav{
    max-width: 1128px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
    padding: 0 24px 0 24px;
    border-radius: 8px;
    background-color: var(--primario-oscuro);
}
header nav .nav-bar{
    display: flex;
    align-items: center;
    gap: 16px;
}
header nav .nav-bar a{
    padding: 0 8px 0 8px;
}
header nav .nav-bar a:hover{
    color: var(--acento-dark-mode);
}
header nav .nav-button{
    width: 291px;
    display: flex;
    justify-content: space-between;
}
header nav .nav-button button{
    width: 141px;
}
/* con sesión iniciada */
header nav .nav-icon{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .nav-icon a{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
}
header nav .nav-icon a .icon {
    width: 40px;
    height: 40px;
}
header nav .nav-icon .foto-perfil{
    border-radius: 50%;
}


/* -------------------------------------------- */
/* FOOTER STYLE */
/* -------------------------------------------- */

footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 64px 0;
    gap: 48px;
}
footer .footer{
    max-width: 1128px;
    min-height: 310px;
    display: flex;
    justify-content: center;
    gap: 48px;

}
footer .footer-info{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
footer .footer-redes{
    padding-left: 10px ;
}
footer .footer-redes img{
    margin: 20px 35px 20px 0;
}
footer .footer-contacto {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
footer .footer-contacto img{
    width: 25px;
    height: 25px;
    margin-right: 25px;
}
footer .footer-contacto li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
footer .footer-form{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer form{
   
    display: flex;
    flex-direction:column;
}
footer form label{
    margin-bottom: 15px;
}
footer .footerEmail{
    padding: 15px;
    margin-bottom: 15px;
}
footer textarea{
    resize: none;
    height: 100px;
    padding: 13px 16px;
}
footer .enviar{
    width: 100%;
    margin-top: 10px;
}

/* MEDIA QUERIES */
/* Tablet */
@media only screen and (max-width:768px) {
    footer .footer{
        margin: 8px;
        flex-direction: column;
    }
}
/* Celular */
@media only screen and(max-width: 375px){
    header nav{
        flex-direction: column;
    }
}