/* HEADER  */

header{
    width: 100%;
    margin: 20px auto;
}

header nav{
    width: 80%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 24px 0 24px;
    border-radius: 8px;
    background-color: var(--primario-oscuro);
}
header nav .nav-bar{
    display: flex;
    align-items: center;
}
header nav a{
    padding: 0 8px 0 8px;
}
header nav .nav-button{
    width: 291px;
    display: flex;
    justify-content: space-between;
}