html{
    background-color: var(--fondo);
}
h3{
    text-align: center;
    margin: 24px 0 16px 0
}
/* MAIN */
.main{
    max-width: 1128px;
    margin: 0 24px;
}
.main .inicio{
    max-width: 552px;
    height: 697px;
    margin: 40px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.main .inicio .logo-titulo{
    max-width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px
}
.main img{
    width: 180px;
}
.main .inicio .inicioDeSesion{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 16px;
}
.main .inicio .inicioDeSesion form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.main .inicio .inicioDeSesion #email{
    padding: 16px ;
    border: 1px solid var(--primario);
    margin-bottom: 8px;
}
input{
    border: 0;
    outline: 0;
}
.main .inicio .inicioDeSesion .inputPassword {
    padding: 4px 0 4px 16px;
    border: 1px solid var(--primario);
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.main .inicio .inicioDeSesion .inputPassword img{
    width: 43px;
}
.main .inicio .botones{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.main .inicio .botones button{
    width: 47%;
}

/* MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 768px) {
    .main .inicio{
        height: 650px;
        margin: 20px auto;
        padding: 30px;
    }

}
/* Celular */
@media only screen and (max-width: 390px){
    .main .inicio{
        min-width: 360px;
        min-height: 360px;
    }
    .main .inicio .inicioDeSesion {
        width: 100%;
    }
}