html{
    background-color: var(--fondo);
}
h3{
    text-align: center;
    margin: 24px 0 16px 0;
}
main{
    width: 100%;
    
}
.quienesSomos{
    max-width: 1128px;
    margin: 0 auto;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 0;
}
.cards .wasi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding: 32px;
}
.cards .wasi img{
    width: 134px;
}
.misionVision{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding:  24px 32px;
}
h5{
    padding: 24px 0;
}