html{
 
    width: 100%;
}
body{
    background-color: var(--fondo);
}
main {
   width: 80%;
   margin: 0.5% auto;
}
h3{
    text-align: center;
    margin: 24px 0 16px 0;
}

/* -------------------------------------------- */
/* RECOMENDADOS PARA TI */
/* -------------------------------------------- */
.recomendadosParaTi{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* -------------------------------------------- */
/* CONTENEDOR BUSCADOR Y CARDS  */
/* -------------------------------------------- */
.recomendadosParaTi .buscadorPerfiles{
    width: 100%;
    display: flex;
    gap: 32px;
}
/* BUSCADOR */
.buscadorPerfiles .buscador{
    width: 264px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buscadorPerfiles .buscador .filtro{
    display: flex;
    align-items: center;
}
.buscadorPerfiles .buscador .filtro form{
    text-decoration: none;
    width: 80%;
}

.buscadorPerfiles .resultadosBusqueda{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buscadorPerfiles .resultadosBusqueda p{
    cursor: pointer;
}
.buscadorPerfiles .resultadosBusqueda .resultados{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 10px;
}

/* CARDS */
.recomendadosParaTi .cards{
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.recomendadosParaTi .paraTiCard{
    width: 264px;
    padding: 0 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.recomendadosParaTi .imgCard img{
    width: 264px;
    height: 200px;
    border-radius: 8px;
    object-fit: none;
}
.recomendadosParaTi .paraTiCard .cuerpoCard{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.recomendadosParaTi .paraTiCard .esp{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.recomendadosParaTi .paraTiCard .esp .nombreCard{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.recomendadosParaTi .paraTiCard .esp .nombreCard .clasif{
    display: flex;
    align-items: center;
}
.recomendadosParaTi .paraTiCard .esp .iconosCard{
    border-top: 1px solid var(--primario) ;
    border-bottom: 1px solid var(--primario) ;
    padding: 8px 0 16px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.recomendadosParaTi .paraTiCard .esp .iconosCard .iconText{
    max-width: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomendadosParaTi .paraTiCard .esp .iconosCard img{
    width: 25px;
    height: 25px;
    margin: 8px;
}
.recomendadosParaTi .paraTiCard .precioCard{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.recomendadosParaTi .paraTiCard .precioCard button{
    width: 112px;
} 

/* -------------------------------------------- */
/* PAGINACIÓN */
/* -------------------------------------------- */

.paginas{
    padding: 24px 0 48px 0;
}
.paginas button{
    width: 133px;
    float: right;
}