.search {
    max-width: 1128px;
    min-height: 144px;
}
  
.search .container-search{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}
.search .container-form{
    max-width: 1100px;
}
.search .title-form{
    padding: 0 0 0 8px;
}
.search form{
    display: flex;
    gap: 4px;
}
.search .row{
    display: flex;
    flex-direction: column;
    min-width: 180px;
    height: 80px;
    gap: 4px;
}
.search .col-25{
    padding: 0 4px 4px 4px;
}
.search .row button{
    min-width: 180px;
    height: 80px;
}

.search input[type="date"], select, textarea {
    width: 100%;
    padding: 12px;
}
.search input[type=submit]{
    width: 100%;
}
.search label {
    padding: 12px 12px 12px 0;
}
