.search {
    width: 80%;
    margin: 0.5% auto;
 }
  
 .search .container-search{
     width: 100%;
     margin: 0 auto;
     padding: 10px;
 }
 .search .title-form{
     padding: 0 0 0 5px;
 }
 .search form{
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }
 .search .row{
     display: flex;
     flex-direction: column;
     width: 100%;
     margin: 5px;
 }
 .search input[type="date"], select, textarea {
     width: 100%;
     padding: 12px;
 }
 .search input[type=submit]{
     width: 100%;
 }
 .search label {
     padding: 12px 12px 12px 0;
 }
 .search .col-25 {
     float: left;
     margin-top: 6px;
 }
 .search .col-75 {
     float: left;
     width: 100%;
     margin-top: 6px;
 }