/* variables locales creadas*/
:root{
    --verde-cien: #93C0A3;
    --verde-doscientos: #7BA088;
    --verde-trescientos: #62806D;
    --verde-cuatroscientos: #4A6052;
    --verde-quinientos: #314036;
    --verde-seiscientos: #1D2621;

    --ocre-cero: #F6F4ED;
    --ocre-cien: #E3DFC8;

    --naranja: #F46701;
    --naranja-cien: #;
    --naranja-doscientos: #;
}
/*para llamar ->  var(--blanco) 
para llamar @import url("variables.css) en el css principal*/