/* variables locales creadas*/
:root{
    --primario: #93C0A3;
    --primario-claro: #C9E0D1;
    --primario-oscuro-medio: #62806D;
    --primario-oscuro: #4A6052;
    --primario-oscuro-al80: #4a6052da;

    --secundario: #e3dfc8;

    --acento: #F46701;
    --acento-hover: #f6802b;
    --acento-dark-mode: #f89a56;
    --acento-al20: ;

    --textos: #1D2621;
    --textos-grises: #496051;

    --blanco-2: #F9F9F4;
    --blanco-1: #FFFFFF;
    --fondo: #F6F4ED;
}
/*para llamar ->  var(--blanco) 
para llamar @import url("variables.css) en el css principal*/