<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- style -->
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/general-style.css">
    <title>Home Wasi</title>
</head>
<body>
    <footer class="bg-p-oscuro">
        <h3 class="f-dsb c-secundario">Contacto</h3>
        
        <section class="footer c-blanco-2">
            <div class="footer-info">
                <h4 class="f-hsm c-a-dark-mode" >Estamos aquí para ayudarte!</h4>
                <p class="f-bl">Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
                <div class="footer-redes">
                    <a href=""><img src="../public/images/icons/facebook.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/twitter.svg" alt=""></a>
                    <a href=""><img src="../public/images/icons/instagram.svg" alt=""></a>
                </div>
                <ul class="footer-contacto ">
                    <li class="f-bl">
                        <img src="../public/images/icons/telefono.svg" alt="">
                        123 456 789
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/sobre.svg" alt="">
                        wasi@info.com
                    </li>
                    <li class="f-bl">
                        <img src="../public/images/icons/mundo.svg" alt="">
                        Dirección 123 - Argentina
                    </li>
                </ul>
            </div>
            <div class="footer-form c-blanco-1">
                <form action="">
                    <label class="f-bm" for="">E-mail</label>
                    <input class="footerEmail br-8" type="email" placeholder="email@email.com">
    
                    <label class="f-bm" for="">Tu consulta</label>
                    <textarea class="br-8" id="" cols="20" rows="10"></textarea>
                
                    <input class="enviar f-tm btt-1" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </footer>
</body>
</html>