<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- style -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <title>Home Wasi</title>
</head>
<body>

<footer>
    <h3>Contacto</h3>
    <section class="footer">
        <div class="footer-info">
            <h4 class="v-100" >Estamos aquí para ayudarte!</h4>
            <p>Ponete en contacto con nosotros si tienes alguna pregunta, comentario o sugerencia.</p>
            <div class="footer-redes">
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
            </div>
            <ul class="footer-contacto">
                <li>
                    <img src="../public/images/icon-minus.svg" alt="">
                    123 456 789
                </li>
                <li>
                    <img src="../public/images/icon-minus.svg" alt="">
                    wasi@info.com
                </li>
                <li>
                    <img src="../public/images/icon-minus.svg" alt="">
                    Dirección 123 - Argentina
                </li>
            </ul>
        </div>
        <div class="footer-form">
            <form action="">
                <label for="">E-mail</label>
                <input type="email">

                <label for="">Tu consulta</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            
                <input type="submit" value="Enviar">
            </form>
        </div>
    </section>
</footer>
</body>
</html>