
    
    <!-- modelo sin iniciar sesión -->
    <header>
        <nav class="nav">
            <div class="nav-bar c-fondo">
                <a href="/"><img src="images/logo-orange.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="">Planes y precios</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <!-- <div class="nav-icon">
                <a href=""><img class="icon" src="../public/images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="../public/images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="../public/images/usuarios/usuario-1/perfil_usuario_1.jpg" alt=""></a>
            </div>  -->

            <div class="nav-button">
                <button class="f-tm c-a-dark-mode"><a href="/login">Inicia sesión</a></button>
                <button class="f-tm btt-2">Registrate</button>
            </div>
        </nav>
    </header>

