<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- style -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/general-style.css">
    <link rel="stylesheet" href="css/index.css">

    <title>Home Wasi</title>
</head>
<body>
    <!-- modelo sin iniciar sesión -->

    <header>
        <nav class="nav bg-oscuro80">
            <div class="nav-bar c-fondo">
                <a href="#"><img src="../public/images/logo-orange.png" alt="logo"></a>
                <a class="f-tm c-secundario" href="#quienesSomos">Quiénes somos</a>
                <a class="f-tm c-secundario" href="#contacto">Contacto</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <!-- <div class="nav-icon">
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
            </div> -->

            <div class="nav-button">
                <a class="f-tm c-a-dark-mode" href="#">Inicia sesión</a>
                <a class="f-tm btt-2" href="/src/views/formularioMiPerfil.ejs">Registrate</a>
            </div>
        </nav>
    </header>
