<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/general-style.css">
    <title>Home Wasi</title>
</head>
<body>
    
<header>
    <nav class="nav bg-v-100">
        <div class="nav-image">
            <a href=""><img src="../public/images/logo-orange.png" alt="logo"></a>
        </div>
        <div class="nav-bar">
            <a href="">Quiénes somos</a>
            <a href="">Cómo funciona</a>
            <a href="">Contacto</a>
        </div>
        <div class="nav-icon">
            <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
            <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
            <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
        </div>
        <div class="nav-button">
            <button>Inicia sesión</button>
            <button>Registrate</button>
        </div>
    </nav>
</header>
</body>
</html>