
    
    <!-- modelo sin iniciar sesión -->
    <header>
        <% if(typeof index !=='undefined' ){ %>
            <nav class="nav bg-oscuro80">
        <% } else { %>
            <nav class="nav">
        <% } %>    
            <div class="nav-bar c-fondo">               
                <a href="/"><img src="images/logo-header.png" alt="logo"></a>
                <a class="f-tm c-blanco-1" href="/quienes-somos">Quiénes somos</a>
                <a class="f-tm c-blanco-1" href="/planes-y-precios">Planes y precios</a>
            </div>

            <% if(login){%>
             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <div class="nav-icon">
                <a href=""><img class="icon" src="images/icons/header/state-layer.svg" alt=""></a>
                <a href=""><img class="icon" src="images/icons/header/container.svg" alt=""></a>
                <a href=""><img class="foto-perfil" src="images/images_perfil/<%= id %>/<%= usuarioSesion.foto_url %>" alt=""></a>
            </div>
            <% } else {%>
            <div class="nav-button">
                <button class="f-tm c-a-dark-mode"><a href="/login">Inicia sesión</a></button>
                <button class="f-tm btt-2">Registrate</button>
            </div>
            <% } %>
        </nav>
    </header>

