<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/general-style.css">
    <link rel="stylesheet" href="../../public/css/index.css">
    <title>Home Wasi</title>
</head>
<body>
    
    <header>
        <nav class="nav bg-oscuro80">
            <div class="nav-bar c-fondo t-bold">
                <a href=""><img src="../../public/images/logo-orange.png" alt="logo"></a>
                <a href="">Quiénes somos</a>
                <a href="">Contacto</a>
            </div>

             <!-- ICÓNOS DE SESIÓN INICIADA -->

            <!-- <div class="nav-icon">
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
                <a href=""><img src="../public/images/icon-minus.svg" alt=""></a>
            </div> -->

            <div class="nav-button t-bold">
                <button class="c-a-dark-mode">Inicia sesión</button>
                <button class="btt-2">Registrate</button>
            </div>
        </nav>
    </header>
</body>
</html>