<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/general-style.css">
    <title>Document</title>
</head>
<body>
    <section class="search">
        <div class="container-search bg-p-claro br-8">
            <p class="title-form f-tm">Elige la fecha que desearías reservar un alojamiento para tu mascota.</p>
            <div class="container-form br-8">
                <form action="">
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="fname" placeholder=" " >Fecha de ingreso</label>
                        </div>
                        <div class="col-75">
                            <input type="date" id="" name="" class="br-8 bg-blanco-1">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="lname">Fecha de salida</label>
                        </div>
                        <div class="col-75">
                            <input type="date" id="" name="" class="br-8 bg-blanco-1">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Ubicación</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Tipo de mascota</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value="">Perro</option>
                                <option value="">Gato</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-25">
                            <label class="f-bm c-texto-gris" for="">Cantidad</label>
                        </div>
                        <div class="col-75">
                            <select id="" name="" class="br-8 bg-blanco-1">
                                <option value=""></option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div >
                            <input class="col-75 btt-1" type="submit" value="Enviar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>